@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Goldman', cursive;
}

img {
	max-width: 100%;
}

body {
	background-color: silver;
}

ul, ol, li, menu {
	list-style: none;
}

span {
	color: red;
}

.nav__style {
	background-color: silver !important;
}

.card {
	background-color: beige;
}

.delete__button {
	background: none;
	font-size: .875em !important;
	text-decoration: underline;
	text-decoration-color : blue;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	text-decoration-color: blue;
}

.a__frontend{
	    color: currentColor;
    text-decoration: none;
      
}

.non__visibile{
	filter: grayscale(100%);
}

.testo__non__visibile{
	transform: rotate(45deg);
	width: 100%;
	top:50%;

}
