@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Goldman', cursive;
}
img{
	max-width:100%;
}

body {
	background-color: silver;
}

ul, ol, li, menu {
	list-style: none;
}

span{
	color:red;
}

.nav__style {
	background-color: silver !important;
}

.card {
	background-color: beige;
}