<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Foto Album -inserire User-</title>
<link th:replace="~{fragments :: bootstrap_myStyle}"></link>
</head>
<body>

	<div class="container">
	<div th:replace="~{fragments :: navBar(pagina='foto')}"></div>
	<h2>Lista Foto</h2>
		<div class="card-group ">
			<div class="row row-cols-3 g-4">
				<div class="col" th:each="f : ${elencoFoto}">
					<div class="card">
						<img th:src="${f.url}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title" >[[${f.titolo}]]</h5>
							<p class="card-text">Descrizione: <br><i>[[${f.descrizione}]]</i></p>
							<p class="card-text">Visibilità:
							 <i class="fa-solid fa-thumbs-up" th:if="${f.visibile}"></i>
							 <i class="fa-solid fa-thumbs-down" th:if="!${f.visibile}"></i>
							 
							</p>
						</div>
						<div class="card-footer d-flex justify-content-between">
							<small class="text-muted">Tag: [[${{f.tag}}]]</small>
							<a th:href="@{'foto/'+${f.id}}"><small class="text-muted">Dettaglio: <i class="fa-solid fa-circle-info"></i></a></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{fragments :: footer}"></div>
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>