<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dettaglio Foto [[${foto.titolo}]]</title>
<link th:replace="~{fragments :: bootstrap_myStyle}"></link>
</head>
<body>

	<div class="container">
		<div th:replace="~{fragments :: navBar(pagina='foto',paginaVista='show')}"></div>
		<h2>Dettaglio Foto</h2>
		<div class="">
			<div class="">
				<div class="card mb-3">
					<img th:src="${foto.url}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">[[${foto.titolo}]]</h5>
						<p class="card-text">
							Descrizione: <br>
							<i>[[${foto.descrizione}]]</i>
						</p>
						<p class="card-text">
							Visibilità: <i class="fa-solid fa-thumbs-up"
								th:if="${foto.visibile}"></i> <i class="fa-solid fa-thumbs-down"
								th:if="!${foto.visibile}"></i>

						</p>
						<p class="card-text"  >
								Categorie: 
								<i th:each="c: ${foto.categorie}">[[${c.nome}]] </i> 
								<i th:if="${foto.categorie.size<1}">Nessuna Categoria Salvata </i> 
									
							</p>
					</div>
					<div class="card-footer d-flex justify-content-between">
						<small class="text-muted">Tag: [[${{foto.tag}}]]</small> 
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


	<div th:replace="~{fragments :: footer}"></div>
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>