<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="bootstrap_myStyle">

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link th:rel="stylesheet"
			th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
		<!--  Stile mio -->
		<link th:href="@{/style.css}" rel="stylesheet" />
		<!-- FontAwesome -->
		<link th:rel="stylesheet"
			th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css} " />

		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap"
			rel="stylesheet">

	</th:block>

	<!-- NavBar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light nav__style"
		th:fragment="navBar (pagina, paginaVista)">
		<div class="container-fluid">
			<li class="nav-item dropdown" 
			 th:classappend="${pagina}=='foto' ? text-primary : ''"><a
				class="nav-link dropdown-toggle" href="#"
				id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
				aria-expanded="false">Menù Delle Foto</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" th:href="@{/foto}" 
					th:classappend="${paginaVista}=='index' ? text-primary : ''">Lista Foto </a></li>
					<li><a class="dropdown-item" th:href="@{/foto/create}"
					th:classappend="${paginaVista}=='create' ? text-primary : ''">Carica Foto</a></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul></li>
			<li class="nav-item dropdown"
			th:classappend="${pagina}=='categorie' ? text-primary : ''"><a
				class="nav-link dropdown-toggle" href="#"
				id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
				aria-expanded="false"> Categorie </a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" th:href="@{/categorie}"
					th:classappend="${paginaVista}=='index-cat' ? text-primary : ''">Lista Categorie</a></li>
					<li><a class="dropdown-item" th:href="@{/categorie/create}"
					th:classappend="${paginaVista}=='create-cat' ? text-primary : ''">Crea Categoria</a></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul></li>
			<li class="nav-item dropdown"
			th:classappend="${pagina}=='commenti' ? text-primary : ''"><a
				class="nav-link dropdown-toggle" href="#"
				id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
				aria-expanded="false"> Commenti </a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" th:href="@{/commenti}"
					th:classappend="${paginaVista}=='index-com' ? text-primary : ''">Lista Commenti</a></li>
					<li><a class="dropdown-item" href="#"
					th:classappend="${paginaVista}=='create-com' ? text-primary : ''">Crea Commenti</a></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul></li>
			
				<a class="a__frontend"  th:href="@{/frontend}">Vai al Frontend</a>
				<a class="a__frontend"  th:href="@{/logout}">Logout</a>
			
		</div>
	</nav>



	<div th:fragment="scriptBootstrap">
		<script
			th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
	</div>








	<ul th:fragment="footer"
		class="nav nav-tabs d-flex justify-content-around">
		<li class="nav-item"><a class="nav-link">Facebook</a></li>
		<li class="nav-item"><a class="nav-link">Instagram</a></li>
		<li class="nav-item"><a class="nav-link">Contatti</a></li>


	</ul>

</body>
</html>