<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/style/show.css">
    <link rel="stylesheet" href="/style.css">
    <title>Dettaglio Foto</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light nav__style">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://cdn-icons-png.flaticon.com/512/38/38967.png" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                Foto-Album
            </a>
          
            <a href="/foto">Torna al backend</a>
            <a href="/frontend">Torna alla Home</a>
        </div>
    </nav>

    <div class="container">

        <h2>Dettaglio Foto</h2>
        <div class="">
            <div class="">
                <div class="card mb-3">
                    <img src="" class="card-img-top" alt="..." id="foto__foto">
                    <div class="card-body">
                        <div class="card-footer d-flex justify-content-between">
                            <small class="text-muted" id="foto__tag">Tag: </small>
                        </div>
                        <h5 class="card-title" id="foto__titolo"></h5>
                        <p class="card-text">
                            Descrizione: <br> <i id="foto__descrizione"></i>
                        </p>

                        <p class="card-text">
                            Categorie: <i id="c__nome"> </i>
                        </p>

                        <div class="card-text">
                            Commenti:
                            <ul id="commenti">

                            </ul>




                         

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Nome</span> <input id="nome"
                                        type="text" class="form-control" placeholder="Nome autore del commento"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                    <div class="invalid-feedback">
                                        <ul id="nome__err">

                                        </ul>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Testo commento</span>
                                    <input id="descrizione" type="text" class="form-control"
                                        placeholder="Commento Alla Foto" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                    <div class="invalid-feedback">
                                        <ul id="descrizione__err">

                                        </ul>
                                    </div>
                                </div>


                                <div class="mt-3">
                                    <button class="btn btn-dark" onclick="creaCommento()">Carica il tuo commento!</button>
                                    <a class="btn btn-dark" href="#"> Annulla</a>
                                </div>


                       
                           
                         

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script/show.js"></script>
</body>

</html>